/**
 *****************************************
 * Created by lifx
 * Created on 2018-07-16 16:25:43
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 容器
 *****************************************
 */
.container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


/**
 *****************************************
 * 列表
 *****************************************
 */
.list {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 80px;
    list-style: none;
}
